/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: Circular std, sans-serif; */

/* navbar css  */
.navbar {
  /* font-family: "Poppins", sans-serif; */
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border: 0.3px solid gray !important;
  /* position: fixed; */
  /* width: 100%; */
  /* z-index: 1000; */
  /* background-color: #ffffff; */
}

/* Update the styling for the combined logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  cursor: pointer;
  font-weight: 900;
  margin-left: 0px;
}

.nav-link {
  font-weight: 300 !important;
}

.nav-item .active {
  border-bottom: 1px solid #f08c00;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
  margin-left: -15px;
  margin-bottom: 13px;
}
.navbar-brand:hover {
  color: #f08c00;
}

/* footer */

.footer {
  color: white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #f08c00;
}

/* ======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}

/* Register page */

/* .form-group {
  margin-top: -15px;
} */

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-btn {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-btn:hover {
  background-color: black;
  color: white;
}

/* login page */
.login-btn {
  color: black;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: black;
  color: white;
}
