.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

/* Card Styles */
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.home-page .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.home-page .card-name-price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #333;
  color: white;
  transition: background-color 0.3s;
}

.home-page button:hover {
  background-color: #555;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
  padding: 10px;
  font-size: 0.9rem;
}

.home-page .card img:hover {
  transform: scale(1.1);
}

.home-page .card-img-top {
  height: 300px !important;
  object-fit: cover;
}

/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
  background-color: yellow;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.loadmore:hover {
  background-color: orange;
}
